:host {
	display: block;
	.header {
		height: 65px;
		border-bottom: 1px dotted #6b6b47;
	}

    .container {
		.msg {
			display: block;
			line-height: 60px;
			text-align: center;
			color: white;
			font-size: 35px;
			background-color: darkred;
			border-radius: 25px;
			margin: 25px 0;
		}
        .pizza-icon {
            font-size: 35px;
            display: inline;
            line-height: 67px;
            cursor: pointer;
            color: #b32d00;
        }
	    ul {
		    display: inline-block;
		    float: right;
	        }

	    li {
		    list-style-type: none;
		    float: left;
		    padding-left: 40px;
		    line-height: 30px;
		    cursor: pointer;

		    a {
			    text-decoration: none;
                color: #b32d00;
                font-weight: 600;
                font-size: 20px;
		        }   

		    &.active {
			    a {
                    color: blue;
                    font-size: 22px;
		        	}
    		}
	    }

	    li:last-child {
		    padding-right: 0;
    	}
    }
}