<div class="not-available" *ngIf='!orderList'>
  NOT ORDERED YET !
</div>
<div class="order" *ngFor='let order of orderList; let i=index;'>
    <div class="header">
        <button (click)='cancelOrder(i)' class='btn'>CANCEL ORDER</button>
        <div class="clear-float"></div>
    </div>
    <div class="details">
        <p>Sr. No. : {{i+1}}</p>
        <p>{{order.name}}</p>
    </div>
    <div class="footer">
        <div class="total"><span>Grand Total Price : </span>{{order.price}}/-</div>
    </div>
</div>