<div class="not-available" *ngIf='!count'>
  NOT ORDERED YET !
</div>
<div class="order" *ngFor='let order of orderList; let i=index;'>
    <div class="header">
        <div class="user-name">Deliver to : {{order.userDetails.name}} - {{order.userDetails.contact}}</div>
        <button (click)='cancelOrder(i)' class='btn'>CANCEL ORDER</button>
        <div class="clear-float"></div>
    </div>
    <div class="details">
        <div class='line'>Type : {{order.type}}</div>
        <div class='line'>Name : {{order.name}}</div>
        <div class='line'>Ingredients : {{order.description}}</div>
    </div>
    <div class="footer">
        <div class="total"><span>Grand Total Price : </span>{{order.price}}/-</div>
    </div>
</div>