.card-view {
    background-color: darkslategrey;
    border-radius: 20px;
    box-shadow: 0 1px 1.96px 0.04px rgba(0, 0, 1, 0.24);
    width: 30%;
    box-sizing: border-box;
    float: left;
    padding: 15px;
    margin: 19px;

    label {
        color: black;
        line-height: 20px;
        padding: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        font-size: 25px;
        text-align: center;
        span {
            color: white;
        }
    }

    .btn {
        background-color: red;
        border: none;
        padding: 11px;
        color: white;
        font-weight: 600;
        font-size: 18px;
        border-radius: 19px;
        cursor: pointer;
    }
    
    .pizza-image {
        height: 150px;
        font-size: 68px;
        text-align: center;
        color: #993333;
        border-bottom: 1px dotted #993333;
    }

    .type {
        font-size: 15px;
    }

    .name {
        color:white !important;
    }

    .description {
        font-size: 18.01px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin-bottom: 10px;
        color: #0f0f0a;
    }

    .size {
        font-size: 19px;
        font-weight: 600;
    }

    .price {
        font-size: 35px;
        color: white;
        font-weight: 600;
        margin-top: 10px;
        span {
            font-size: 20px;
        }
    }
}
